{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title  %} JETAUTH {% endblock title %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/materialize.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>

{# navbar #}
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{% url 'apps:index' %}" class="brand-logo">JETAUTHER</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Developer</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">My apps</a></li>
            <li><a href="#">Logout</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
            <h3 class="blue-text"> <span class="material-icons">menu</span> <span>Menu</span></h4>
            <li><a href="#">Developer</a></li>
             <li><a href="#">Profile</a></li>
            <li><a href="#">My apps</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>


{% block content %}

{% endblock content  %}


{# footer #}

<footer class="page-footer light-blue lighten-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">JETAUTHER</h5>
                <p class="grey-text text-lighten-4">
                A one stop center for all the authentication, design your app, let's us take care of the authentication.
                </p>

            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Getting started</h5>
                <ul>
                    <li><a class="white-text" href="#!">Developer docs</a></li>
                    <li><a class="white-text" href="#!">Create account</a></li>
                    <li><a class="white-text" href="#!">Login</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Community</h5>
                <ul>
                    <li><a class="white-text" href="#!">Apps</a></li>
                    <li><a class="white-text" href="#!">Users</a></li>
                    <li><a class="white-text" href="#!">Talk to us</a></li>
                    <li><a class="white-text" href="#!">Report abuse</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/materialize.min.js" %}"></script>
<script src="{% static "js/init.js" %}"></script>
</body>
</html>

{% block script %}

{% endblock %}
