{% extends "base.html" %} {% block title %} Login {% endblock %}
<form class="accent-1"></form>

{% block content %}
<div class="row section">
    <h3>Login to your account</h3>
<form method="post" class=" col s12" >
    {% csrf_token %}
    <div class="input-field">
        <label for="email">Email address</label>
        <input type="email" name="email" id="email">
    </div>

    <div class="input-field">
        <label for="password">Enter your password</label>
        <input type="password" name="password" id="password">
    </div>

    <div class="section">
        <button type="submit" class="btn">Login</button>
        </div>
        <div class="divider"></div>
        <div class="section">
        <a href="{% url 'profiles:register' %}" class="flex">Create your one time account</a>
    </div>
</form>
</div>
{% endblock %}</p>
